:markdown
  ## Responsibilities

  - Manage full-cycle accounts payable process including vendor and invoice management, approval and weekly disbursement activities.
  - Manage expense reports, credit card account reconciliations and payable side bank reconciliation.
  - Compile and prepare entries to general ledger accounts, providing support that is organized, accurate, and descriptive.
  - Prepare balance sheet reconciliations on a monthly basis for assigned accounts, identifying and resolving any differences within the close period. Reconciliations must be organized, accurate, compete. Full understanding of account in accordance with GAAP is necessary.
  - Fulfill all duties, including journal entries, reconciliations, and other assigned tasks, in a timely manner to comply with the close calendar, - - checklists, and other due dates as assigned.
  - Implementing and maintaining documented system of accounting policies and procedures
  - Assist with investor and bank reporting.
  - Perform ad hoc analysis and process improvement project
